@use "sass:color";

:root {
  --bg-color: #454372;
  --bg-color-inverted: #{color.invert(#454372)};
  --text-color: #C4A77D;
  --text-color-inverted: #{color.invert(#C4A77D)};
  --button-bg: #70877F;
  --button-fg: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  line-height: 1.2;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}
